.model-two-image {
    width: 100%;
}

.model-two-image .picture {
    display: flex;
    background-color: #ededed;
}

.model-two-image .picture > div {
    flex: 1;
}

.model-two-image .picture a {
    display: block;
}

.model-two-image .picture img {
    width: 100%;
    display: block;
}

.model-two-image .picture .picture-1 {
    border-right: 1px solid transparent;
}

.model-two-image .picture .picture-2 {
    border-left: 1px solid transparent;
}