.block-double-product {
    width: 100%;
}

.block-double-product .product-title {
    padding: 0.2rem 0;
    margin-bottom: 2px;
    position: relative;
    text-align: center;
    background-color: #fff;
}

.block-double-product .product-title h3 {
    display: inline-block;
    font-size: 14px;
    position: relative;
    z-index: 2;
    padding: 0 0.3rem;
}

.block-double-product .product-title i {
    position: absolute;
    top: 0.45rem;
    left: 1rem;
    width: 8rem;
    height: 1px;
    border-bottom: 1px solid transparent;
}

.block-double-product ul {
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}

.block-double-product li {
    width: 50%;
    padding-right: 1px;
    margin-bottom: 2px;
    overflow: hidden
}

.block-double-product li.pro-line {
    padding-left: 1px;
    padding-right: 0
}

.block-double-product li .pro-one {
    position: relative;
    padding-bottom: 2px;
    background-color: #fff
}

.block-double-product li .pro-img {
    text-align: center
}

.block-double-product li .pro-img img {
    width: 100%;
    vertical-align: top;
}

.block-double-product li .pro-name {
    height: 1rem;
    line-height: 0.5rem;
    margin: 0.1rem;
    overflow: hidden;
    color: #333
}

.block-double-product li .pro-name i {
    display: inline-block;
    width: 0.4rem;
    height: 0.5rem;
    margin-right: 0.05rem;
    vertical-align: middle;
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTMyIDc5LjE1OTI4NCwgMjAxNi8wNC8xOS0xMzoxMzo0MCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoyMUExMTUzMTFEMjA2ODExODIyQUEwODM0QkNFNzAxQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo3MTBDOUQwREFGMTgxMUU3OTRCRUZFNDQ2REJFMkFBQiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3MTBDOUQwQ0FGMTgxMUU3OTRCRUZFNDQ2REJFMkFBQiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NjVGMEVCMEU0MTE4MTFFNjg2MDdFMUY3MjhCODRGNzciIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NkM0MjJGMDQ0MTE4MTFFNjg2MDdFMUY3MjhCODRGNzciLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4g7bSWAAABCklEQVR42mL8//8/Azr4el3RHEg1AbEVEPMwkAe+APExIK7l1rx/Cl2SEd1ioKX2QGoXELMxUAf8AmJ3oOUHkAVZsCjsg1o6E4jrgBpekWMb0APiQKoRiNOBuAeITQj5+DfUQRxAS39S4lWgWexA6gcQ/wGaxUrIx2AxmKVAzf/JsRSonxFkBlA/VnuYGAYIsJDiAyKDl6gQGjAfj1o8avGoxaMWj1o8+C0munYit14eej4mth4efnFMTDyTEjqDysd/QOKgpil685bU+IY2b2FmEvTxJSg9EahRlII2NUjvRDQz8TboHYDUTip3YTyBobUPr4+hfRw7aP/pKyUdCagZduiWggBAgAEAF/Vd6JxWe70AAAAASUVORK5CYII=);
}

.block-double-product li .pro-price {
    padding: 0 0.1rem;
}

.block-double-product li .phone-enjoy.pro-price {
    padding-left: 0.5rem;
    background-position: 0.1rem .2rem;
    background-size: .4rem;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDoyMUExMTUzMTFEMjA2ODExODIyQUEwODM0QkNFNzAxQiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo2QzQyMkYwNDQxMTgxMUU2ODYwN0UxRjcyOEI4NEY3NyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo2NUYwRUIwRTQxMTgxMUU2ODYwN0UxRjcyOEI4NEY3NyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RkYxMjJDQTQyRDIwNjgxMTgyMkFBMDgzNEJDRTcwMUIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjFBMTE1MzExRDIwNjgxMTgyMkFBMDgzNEJDRTcwMUIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4vjRibAAABEklEQVR42mL8//8/AzqYNWuWOZBqAmIrIOZhIA98AeJjQFyblpZ2Cl2SEd1ioKX2QGoXELMxUAf8AmJ3oOUHkAVZsCjsg1o6E4jrgBpekWMb0APiQKoRiNOBuAeITZDlmbDo0YPS+eRaCgJAvS9BZkC5+ujy2HzMAtX4E+ry/2RazAgyA6gfqz1MDAMEWEjxAZFxS1QIDZiPRy0etXjU4lGLRy0e/BYTXTuRWy8PPR8TWw8PvzgmJp5JCZ0B8zG2Bv1vaEhwwFqa5AKgWexA6gcQ/wGaxUrIx5eg9ESgRlEKLAXpnYhmJt44LgbindAeQDq0XUxpF6aUYBxD+zh20P7TVwos/Ao1ww5o5j50SYAAAwDiIFawQ2diJgAAAABJRU5ErkJggg==);
}

.block-double-product li .pro-price .sell {
    margin-right: 0.1rem;
    color: #f50;
}

.block-double-product li .pro-price .market {
    color: #666
}

.block-double-product li .pro-price .sell b {
    font-size: 16px
}

.block-double-product li .pro-prom {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.08rem 0.1rem;
    background-color: #f50;
    color: #fff
}

.block-double-product li .pro-none {
    display: none;
}