.app-header {
    width: 100%;
}

.app-header .header {
    height: 1rem;
    position: relative;
    z-index: 510;
    background-color: #f50;
}

.app-header .back {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(./back.png) 0.32rem 0.26rem/0.3rem 0.5rem no-repeat;
}

.app-header .title {
    margin: 0 1rem;
    height: 1rem;
    line-height: 1rem;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

.app-header .pull {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    padding: 0 0.12rem;
}

.app-header .pull span {
    display: block;
    width: 0.67rem;
    height: 0.12rem;
    margin-top: 0.46rem;
    background: url(./control.png) 0 0/0.67rem 0.12rem no-repeat;
}

.app-header .pull-hover span {
    background-position: 0 -2.44rem;
}

.app-header .entry {
    width: 100%;
    display: none;
    position: absolute;
    right: 0;
    top: 1rem;
    z-index: 1;
    background-color: #fff;
}

.app-header .entry .content {
    display: flex;
}

.app-header .entry .content a {
    width: 25%;
    padding: 0.25rem 0;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.app-header .entry .content a i {
    display: inline-block;
    width: 0.68rem;
    height: 0.68rem;
    margin-right: 0.06rem;
    vertical-align: top;
}

.app-header .entry .content a span {
    display: inline-block;
    height: 0.68rem;
    line-height: 0.68rem;
}

.app-header .entry .content .home {
    background: url(./home.png) 0 0/100% no-repeat;
}

.app-header .entry .content .category {
    background: url(./category.png) 0 0/100% no-repeat;
}

.app-header .entry .content .cart {
    background: url(./cart.png) 0 0/100% no-repeat;
}

.app-header .entry .content .user {
    background: url(./user.png) 0 0/100% no-repeat;
}

.app-seet {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, .1);
}

.app-block, .app-header .app-block {
    display: block;
}