.app-user-order-title {
    width: 100%;
}

.app-user-order-title ul {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.app-user-order-title ul li {
    flex: 1;
    padding: 0.25rem 0;
    text-align: center;
}

.app-user-order-title ul li.cursor {
    font-weight: 500;
    border-bottom: 2px solid #f50;
    color: #f50;
}

.app-user-order-list {
    width: 100%;
}

.app-user-order-list .user-order-list {
    padding-top: 0.15rem;
    background-color: #eee;
}

.app-user-order-list .user-order-list .one {
    padding-bottom: 0.15rem;
}

.app-user-order-list .user-order-list .one .module-seller {
    padding: 0.2rem 0.15rem;
    background-color: #fff;
}

.app-user-order-list .user-order-list .one .seller {
    width: 100%;
    display: flex;
}

.app-user-order-list .user-order-list .one .seller > div {
    flex-direction: row;
    line-height: 0.62rem;
}

.app-user-order-list .user-order-list .one .seller .picture {
    width: 0.728rem;
    height: 0.62rem;
    line-height: 0.62rem;
    margin-right: 0.1rem;
}

.app-user-order-list .user-order-list .one .seller .picture img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.app-user-order-list .user-order-list .one .seller .contact {
    width: 88%;
}

.app-user-order-list .user-order-list .one .seller .contact a > span {
    display: inline-block;
    vertical-align: top;
}

.app-user-order-list .user-order-list .one .seller .contact .title {
    margin-right: 0.1rem;
}

.app-user-order-list .user-order-list .one .seller .contact .arrow {
    width: 0.2rem;
    height: 0.4rem;
    vertical-align: middle;
    background: url(./arrow.png) 0 0/0.2rem 0.4rem no-repeat;
}

.app-user-order-list .user-order-list .one .seller .contact a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #333;
}

.app-user-order-list .user-order-list .one .seller .state {
    text-align: right;
    width: 2rem;
    color: #f50;
    font-size: 12px;
}

.app-user-order-list .user-order-list .one .module-item {
    padding: 0.16rem 0.16rem;
    background-color: #f5f5f5;
}

.app-user-order-list .user-order-list .one .item {
    width: 100%;
    height: auto;
    display: flex;
}

.app-user-order-list .user-order-list .one .item .picture {
    width: 20%;
    overflow: hidden;
    margin-right: 0.2rem;
}

.app-user-order-list .user-order-list .one .item .picture img {
    width: 100%;
    transform: translateZ(0);
    vertical-align: top;
}

.app-user-order-list .user-order-list .one .item .info {
    width: 60%;
}

.app-user-order-list .user-order-list .one .item-2 .info {
    width: 80%;
}

.app-user-order-list .user-order-list .one .item .service {
    display: flex;
    padding-top: 0.08rem;
}

.app-user-order-list .user-order-list .one .item .service span {
    padding: 0.05rem;
    margin-right: 0.15rem;
    background-color: #f50;
    color: #fff;
}

.app-user-order-list .user-order-list .one .item .sku {
    padding-top: 0.08rem;
    color: #999;
}

.app-user-order-list .user-order-list .one .item .pay {
    width: 20%;
    text-align: right;
}

.app-user-order-list .user-order-list .one .item .pay .price {
    font-weight: 700;
    color: #333;
}

.app-user-order-list .user-order-list .one .module-pay {
    padding: 0.2rem 0.15rem;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}

.app-user-order-list .user-order-list .one .pay {
    width: 100%;
    text-align: right;
}

.app-user-order-list .user-order-list .one .pay span {
    margin-left: 0.15rem;
    display: inline-block;
    font-size: 14px;
}

.app-user-order-list .user-order-list .one .pay span b {
    color: #333;
}

.app-user-order-list .user-order-list .one .module-option {
    padding: 0.2rem 0.15rem;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}

.app-user-order-list .user-order-list .one .option {
    width: 100%;
}

.app-user-order-list .user-order-list .one .option ul {
    display: flex;
    justify-content: flex-end;
}

.app-user-order-list .user-order-list .one .option ul li {
    padding: 0.1rem 0.2rem;
    margin-left: 0.15rem;
    border-radius: 2px;
    border: 1px solid #999;
    text-align: center;
}

.app-user-order-list .user-order-list .one .option ul li.cursor {
    border-color: #f50;
    color: #f50;
}

.app-user-error {
    width: 100%;
}

.app-user-error .user-error {
    text-align: center;
}

.app-user-error .user-error .picture {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem auto 0.5rem;
    background: url(./error.png) 0 0/100% no-repeat;
}

.app-user-error .user-error .txt {
    color: #666;
    font-size: 14px;
    margin-bottom: 0.2rem;
}

.app-user-error .user-error .sub-txt {
    color: #999;
    margin-bottom: 0.5rem;
}

.app-user-error .user-error .refresh a {
    display: inline-block;
    padding: 0.15rem 0.3rem;
    border: 1px solid #333;
    border-radius: 2px;
    color: #333;
}