.app-unit-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9997;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.app-unit-layer .unit-layer {
    min-width: 90%;
    max-width: 90%;
    z-index: 9999;
    min-height: 2rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgba(126, 137, 140, .2);
    border: 1px solid #B8C8CC;
}

.app-unit-layer .unit-layer .header {
    height: .96rem;
    position: relative;
    border-bottom: 1px solid #ededed;
    background-color: #EDF5F7;
}

.app-unit-layer .unit-layer .header .title {
    margin-right: .85rem;
    line-height: .85rem;
    font-weight: 700;
    padding: .08rem .28rem 0;
    color: #454B4D;
}

.app-unit-layer .unit-layer .header .close {
    position: absolute;
    right: .08rem;
    top: .08rem;
    width: .85rem;
    height: .85rem;
    background: url(./close.png) .28rem .28rem/.32rem .32rem no-repeat;
}

.app-unit-layer .unit-layer .content {
    padding: .28rem;
}

.app-unit-layer .unit-layer-scene {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .1);
}