.app-search {
    width: 100%;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.app-search .every {
    width: 25%;
    flex: 1;
    position: relative;
}

.app-search .key {
    display: block;
    padding: .18rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center
}

.app-search .key span {
    display: block;
    color: #666;
    border-left: 1px solid #ededed;
}

.app-search .first:first-child span {
    border-left: none;
}

.app-search .current span {
    font-weight: 500;
    color: #f50;
}

.app-search-list {
    width: 100%;
}

.app-search-list .search-double {
    margin: 0 auto;
    padding-top: 2px;
    display: flex;
    flex-flow: wrap;
    background-color: #ededed;
}

.app-search-list .search-double li {
    width: 50%;
    padding-right: 1px;
    margin-bottom: 2px;
    overflow: hidden
}

.app-search-list .search-double li.pro-line {
    padding-left: 1px;
    padding-right: 0
}

.app-search-list .search-double li .pro-one {
    position: relative;
    padding-bottom: 2px;
    background-color: #fff
}

.app-search-list .search-double li .pro-img {
    text-align: center
}

.app-search-list .search-double li .pro-img img {
    width: 100%;
    vertical-align: top;
}

.app-search-list .search-double li .pro-name {
    height: .8rem;
    line-height: .5rem;
    margin: .1rem;
    overflow: hidden;
    color: #333
}

.app-search-list .search-double li .pro-name i {
    display: inline-block;
    width: .4rem;
    height: .5rem;
    margin-right: .05rem;
    vertical-align: middle;
    background: url(./hot.png) 0 .05rem/.4rem no-repeat
}

.app-search-list .search-double li .pro-price {
    padding: 0 .1rem;
}

.app-search-list .search-double li .phone-enjoy.pro-price {
    padding-left: .5rem;
    background: url(./phone.png) .1rem .1rem/.4rem no-repeat;
}

.app-search-list .search-double li .pro-price .sell {
    margin-right: .1rem;
    color: #f50;
}

.app-search-list .search-double li .pro-price .market {
    color: #666;
}

.app-search-list .search-double li .pro-price .sell b {
    font-size: 16px;
}

.app-search-list .search-double li .pro-prom {
    position: absolute;
    top: 0;
    left: 0;
    padding: .08rem .1rem;
    background-color: #f50;
    color: #fff;
}

.app-search-list .search-double li .pro-none {
    display: none;
}

.app-layer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 550;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: #000;
    display: none;
    transition: opacity .4s linear;
}

.app-layer-open {
    opacity: .6;
    display: block;
}

.app-layer-close {
    opacity: 0;
    display: none;
}

.app-filter {
    position: fixed;
    right: -90%;
    top: 0;
    z-index: 1000;
    width: 90%;
    height: 100%;
    transition: right .2s linear;
    background-color: #fff
}

.app-filter-open {
    right: 0%;
}

.app-filter-close {
    right: -90%;
}

.app-filter .filter-box {
    width: 100%;
    height: 100%;
    position: relative
}

.app-filter .filter-header {
    padding: .5rem .32rem;
}

.app-filter .filter-result {
    width: 100%
}

.app-filter .filter-result .result {
    border-top: 1px solid #e7e7e7;
}

.app-filter .filter-result .category {
    position: relative;
    height: 1rem;
    line-height: 1rem;
    padding: 0 .32rem;
    color: #666;
}

.app-filter .filter-result .category span {
    float: left;
    font-weight: 500;
    height: 1rem;
}

.app-filter .filter-result .category b {
    font-weight: 400;
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    color: #ff5000;
}

.app-filter .filter-result .screen {
    clear: both;
    overflow: hidden;
    padding: 0 .32rem;
}

.app-filter .filter-result .screen li {
    float: left;
    width: 30%;
    margin: 0 .25rem .25rem 0;
    border-radius: .1rem;
    height: .85rem;
    line-height: .85rem;
    text-align: center;
    color: #666;
    overflow: hidden;
    background: #f2f2f2;
}

.app-filter .filter-result .screen li.check {
    color: #fff;
    background-color: #ff5000;
}

.app-filter .filter-result .close, .app-filter .filter-result .open {
    width: .4rem;
    height: .3rem;
    position: absolute;
    top: .35rem;
    right: .32rem;
    background: url(./category-open.png) no-repeat center center;
    background-size: 100%;
}

.app-filter .filter-result .open {
    background-image: url(./category-close.png);
}

.app-filter .filter-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2rem;
    display: flex;
}

.app-filter .filter-footer .filter-enter {
    width: 50%;
    flex: 1;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    color: #fff;
    background: #ff5000;
    border-top-color: #e7e7e7;
}

.app-filter .filter-footer .filter-reset {
    width: 50%;
    flex: 1;
    height: 1.2rem;
    background: #FFF;
    line-height: 1.2rem;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}