.block-three-image-right-big {
    width: 100%;
}

.block-three-image-right-big .picture {
    display: flex;
}

.block-three-image-right-big .picture > div {
    flex: 1;
    width: 50%;
}

.block-three-image-right-big .picture a {
    display: block;
}

.block-three-image-right-big .picture a img {
    width: 100%;
    display: block;
}

.block-three-image-right-big .picture .picture-1 {
    border-right: 1px solid transparent;
}

.block-three-image-right-big .picture .picture-2 {
    border-left: 1px solid transparent;
}

.block-three-image-right-big .picture .picture-1 .picture-1-1 {
    border-bottom: 0.5px solid transparent;
}

.block-three-image-right-big .picture .picture-1 .picture-1-2 {
    border-top: 0.5px solid transparent;
}